body{
    background-color: white;
}

.header {
    margin: 0;
    font-size: 36px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.header img {
    width: auto;
    height: 36px;
}

:root {
    --grid-cols: 0;
    --grid-rows: 0;
}

.grid-container {
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grid-item {
    border: 1px solid black;
}

.clear-grid{
    background-color: transparent;
}

/* Menu */
.menu-items li{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.color-picker{
    border: none;
    width: 200px;
    height: 100px;
}
.menu-btn{
    width: 200px;
    height: 50px;
    outline: 1px solid black;
    font-size: 14px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}
.menu-btn:hover{
    background-color: black;
    color: white;
}
.active-btn{
    background-color: black;
    color: white;
}
